#site-title a, 
#site-title a:hover { color: #4F4D4D; }

.post-title a, a { color: #A1230F; }
a:hover { color: #A1230F; }

nav[role="navigation"] ul li.current a { color: #A1230F; }
nav[role="navigation"] ul li a:hover, #social-menu a:hover { color: #A1230F; }

::selection { background: #4F4D4D; }

#page-title-bg { background: #4F4D4D; }
.page-title { color: #EFDF40; }
.page-title-inner .cross { background: #454343; }
#sidebar, #sidebg { background: #EFDF40; }

.widget-title { color: #4F4D4D; }
.widget li a { color: #4F4D4D; }
.widget li a:hover { color: #A1230F; }

#comments #submit, .reply a { background: #454343; color: white; }
.comment-list .reply a:hover { background: #EBEEF0; color: #A1230F; }