#wrapper,
.container { min-width: 320px; }


/* ------------------------------------------------------------------------- *
 *  Toggle Sidebar s1 : 960px > 480px
/* ------------------------------------------------------------------------- */
@media only screen and (min-width: 480px) and (max-width: 960px) {
	
	/* s1 general */
	.s1 { width: 50px; }
	.s1 .sidebar-content { display: none; float: left; width: 100%; }
	.s1 .sidebar-toggle { display: block; }
	
	/* s1 expand/collapse */
	.s1-expand .s1 { background: #32373c; position: absolute; top: 0; bottom: 0; width: 340px; margin: 0!important; z-index: 9; overflow: auto;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1); box-shadow: 0 0 10px rgba(0,0,0,0.1);
	-moz-transition: width .2s ease; -webkit-transition: width .2s ease; transition: width .2s ease; }	
	.s1-expand .s1 .sidebar-content,
	.s1-expand .s1 .post-nav { display: block; min-width: 340px; }
	.s1-collapse .s1 .sidebar-content,
	.s1-collapse .s1 .sidebar .post-nav { display: none; }
	
	/* s1 toggle icon */
	.col-2cl.s1-expand .s1 .icon-sidebar-toggle:before { content: "\f101"; }
	.col-2cr.s1-expand .s1 .icon-sidebar-toggle:before { content: "\f100"; }

	/* 2 column, content right */
	.col-2cr .main-inner { padding-left: 50px; }
	.col-2cr .s1 { margin-left: -50px; }
	.col-2cr.s1-expand .s1 { left: 0; }
	.col-2cr #wrapper-inner { margin-left: 50px; }
	.col-2cr .s1 { left: 50px; }
	
	/* 2 column, content left */
	.col-2cl .main-inner { padding-right: 50px; }
	.col-2cl .s1 { margin-right: -50px; }
	.col-2cl.s1-expand .s1 { right: 0; }
	.col-2cl.s1-expand .sidebar-toggle { float: right; }
	.col-2cl #wrapper-inner { margin-right: 50px; }
	.col-2cl .s1 { right: 50px; }
	
	/* ipad, iphone fix */
	.safari .s1 { min-width: 50px; max-width: 50px; width: auto; }
	.safari.s1-expand .s1 { min-width: 340px; max-width: 340px; width: auto; }
	
}


/* ------------------------------------------------------------------------- *
 *  Mobile (Mid Res) : 719px > 0px (480px & 320px)
/* ------------------------------------------------------------------------- */
@media only screen and (max-width: 719px) {
	
	/* layout */
	.container { padding: 0; }
	.grid { width: 100%; margin: 0 0 10px; }

	/* hide */
	.site-description,
	.image-caption,
	.page-title .dropdown-buttons { display: none; }
	
	/* base */
	.pad { padding: 20px 20px 10px; }
	.notebox { margin-bottom: 20px; }
	.entry,
	.entry.excerpt { font-size: 15px; }
	
	/* text */
	.entry h1 { font-size: 30px; letter-spacing: -0.7px; }
	.entry h2 { font-size: 26px; letter-spacing: -0.5px; }
	.entry h3 { font-size: 24px; letter-spacing: -0.3px; }
	.entry h4 { font-size: 22px; letter-spacing: -0.3px; }
	.entry h5 { font-size: 18px; }
	.entry h6 { font-size: 16px; text-transform: uppercase; }

	/* header */
	#header > .container { padding-top: 0; }
	#header,
	#header .pad { padding-top: 0; padding-bottom: 0; }
	.site-title { padding: 20px 0; margin: 0; width: 100%; float: none; line-height: 50px; border-bottom: 1px solid rgba(255,255,255,0.1); }
	.site-title a { text-align: center; }
	.toggle-search { right: auto; left: 0; top: 0; padding-top: 12px; padding-bottom: 12px;
	-webkit-box-shadow: 1px 0 0 rgba(255,255,255,0.1);
	box-shadow: 1px 0 0 rgba(255,255,255,0.1); }
	.search-expand { left: 0; right: auto; top: 48px; width: 100%; }
	
	/* footer */
	#footer-bottom .pad { padding-top: 50px; padding-bottom: 40px; }
	#footer-bottom .one-half.last { margin-bottom: 0; }
	#footer-bottom { text-align: center; }
	#footer-bottom #footer-logo { margin-left: auto; margin-right: auto; }
	#footer-bottom .social-links { float: none; }
	#footer-bottom .social-links li { margin-left: 4px; margin-right: 4px; }
	
	/* comments */
	.comment-tabs { font-size: 14px; }
	.commentlist li { font-size: 13px; }
	.commentlist li ul li { padding-left: 10px; }
	
	/* page */
	.page-title,
	h3.featured { font-size: 18px; }
	
	/* blog */
	.post-title { margin-bottom: 10px; }
	.post-title,
	.single .post-title { font-size: 22px; line-height: 1.5em; letter-spacing: 0; }
	.post-format { margin-bottom: 20px; }
	.format-gallery .post-format .flexslider .slides img { max-height: 340px; }
	
	.sharrre .box { padding-left: 0; padding-right: 0; }
	.sharrre .count { width: 70%; margin: 0 15%; }
	.sharrre .share { width: 100%; margin-left: 0; margin-top: 10px; }

	.content .post-nav li { width: 100%; -webkit-box-shadow: none!important; box-shadow: none!important; }
	.content .post-nav li a { min-height: 0; }
	.content .post-nav li.previous { border-top: 1px solid #eee; }
	
	.single .related-posts .post-title { font-size: 15px; }
	.related-posts li { width: 50%; }
	.related-posts li:nth-child(2) article { border-right-color: transparent; } 
	.related-posts li:nth-child(3),
	.related-posts li:nth-child(4) { display: none; }
	
	/* shortcodes */
	.dropcap { font-size: 80px; }
	
}

/* ------------------------------------------------------------------------- *
 *  Mobile (Low Res) : 479px > 0 (320px)
/* ------------------------------------------------------------------------- */
@media only screen and (max-width: 479px) {
	
	/* layout */
	.content,
	.sidebar { width: 100%; float: none; margin-right: 0!important; margin-left: 0!important; }
	.sidebar { background: #32373c; width: 100%; display: block; float: none; }
	.main,
	.main-inner { background-image: none!important; padding: 0!important;  }
	#page,
	#footer { padding: 0; }
	
	.col-2cr #wrapper-inner { margin-left: 0; }
	.col-2cl #wrapper-inner { margin-right: 0; }
	.col-2cr .sidebar { position: relative; left: 0; float: none; }
	.col-2cl .sidebar { position: relative; right: 0; float: none; }
	
	/* hide */
	.mobile-sidebar-hide-s1 .s1,
	.mobile-sidebar-hide .sidebar,
	.format-circle,
	.gallery-caption { display: none; }
	
	/* base */
	.pad { padding: 15px 15px 5px; }
	.sidebar .widget { padding-left: 15px!important; padding-right: 15px!important; }
	.notebox { margin-bottom: 15px; }
	
	/* header */
	.site-title { font-size: 32px; }

	/* blog */
	.post-inner { margin-left: 0; display: block;  }
	.post-thumbnail.small { float: none; }
	
	/* sidebar */
	.child-menu { padding: 0 15px; }

}

