@charset "utf-8";
body{font-family: Hiragino Sans GB,微软雅黑,黑体,Arial,sans-serif;font-size: 14px;color:#666;line-height:1.5;background-color: #eeeded;}
hr{margin:20px auto;border: 1px dashed #E7E7E7;}
img{border:0;vertical-align:middle;max-width: 100%;}
p{display:block;}
a{color:#666;text-decoration:none;}
sup{color:#299982;}
blockquote{overflow:hidden;border:0;padding:8px 12px;margin:5px 0 15px;background-color:#F1F1F1;border-left:4px solid #7AD03A;-webkit-box-shadow:0 1px 1px 0 rgba(0,0,0,0.1);box-shadow:0 1px 1px 0 rgba(0,0,0,0.1);font-size:unset;}
#header-canvas {
	position: absolute;
	top:0;
}
.category-cloud a {
	background-color: #16a085;
	border-radius: 0;
	color: #fff;
	display: inline-block;
	font-size: 12px;
	line-height: 1;
	margin-right: 5px;
	padding: 5px;
	text-align: center;
}
.col-md-8 {
	padding-left: 0;
	padding-right: 0;
}
.container{
	padding-left: 0;
	padding-right: 0;
}
#searchform {
	background-color: #fff;
	margin-bottom: 20px;
	padding: 20px;
}
.widget-sets .panel-heading {
	border-bottom: 2px solid #16a085;
}
.widget-sets .nav-pills{
	border-bottom: 2px solid #16a085;
	padding: 10px;
	text-align: center;
}
.widget-sets .list-group .list-group-item{
	border-width: 1px 0;
	margin-bottom: -1px;
	padding: 10px 20px;
}
.widget-sets .list-group {
	margin-bottom: 0;
}
.panel.panel-green {
	border: none;
}
.panel.panel-green .panel-heading {
	background-color: #16a085;
	border-radius: 0 !important;
	color: #fff;
}
.category a {
	border-bottom: 1px solid #eee;
	display: inline-block;
	padding: 10px 20px;
	width: 100%;
}
.category a:hover {
	background-color: #0b445b;
	color: #fff;
}
.category ol, .category ul {
	margin-bottom: 0;
}
.btn-green {
	background-color: transparent;
	border: 1px solid #16a085 !important;
	color: #16a085;
	transition: all 0.3s ease 0s;
}
.btn.btn-green:hover {
	color:#fff;
	background-color:#16a085;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
	background-color: #16a085;
	color: #fff;
}
/*多说*/
#ds-recent-comments {
	padding: 0 20px;
}
/*固定侧边栏*/
.fixsidebar {
	top: 0;
}
#fixed {
	position: static;
}
.fixsidebar.fix {
	position: fixed;
}
/* 文章页 */
.label-green {
	background-color: #16a085;
	border-radius: 0 !important;
	display: inline-block;
	font-size: 12px;
	padding: 5px;
}
.label-green a {
	color: #fff;
}
.post-article {
	font-size: 15px;
	line-height: 1.8;
}
.article-copyright a, .article-content a {
	color: #009a61;
}
.article-copyright a:hover, .article-content a:hover{
	color: #009a61;
}
.article-content pre {
	max-height: 400px;
}
.article-copyright {
	margin: 15px 0;
}

.article-content table {
	width:100%;
	border-collapse: collapse;
	border-spacing: 0;
}
.article-content table td,.article-content table th {
	border:1px solid #e6e6e6;
	padding:5px 8px;
	word-break: break-all;
}
.article-content table th {
	background:#f3f3f3;
}

/* 评论 */
.ui.form.fluid {
	box-sizing: border-box;
	width: 100%;
}
.comments-block {
	background: #fff none repeat scroll 0 0;
	border-radius: 5px;
	box-shadow: 0 5px 20px #bbb;
	margin-bottom: 20px;
	padding: 15px;
	position: relative;
	border: 1px solid #ddd;
}


.comments-field {
	margin: 0 0 1em;
	padding-right: 1%;
	font-size: 14px;
}
.comments-field textarea {
	height: 12em;
	line-height: 1.33;
	max-height: 24em;
	min-height: 8em;
	resize: vertical;
	padding: 0.85em 1.2em;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 0.3125em;
	background-color: #FFFFFF;
}
.ui.form .two.fields > .comments-field {
	width:50%;
	float: left;
}
.comments-field input {
	background-color: #FFFFFF;
	padding: 0.85em 1.2em;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 0.3125em;
}
.ui.form textarea, .ui.form input[type="text"], .ui.form input[type="email"], .ui.form input[type="date"], .ui.form input[type="password"], .ui.form input[type="number"], .ui.form input[type="url"], .ui.form input[type="tel"], .ui.form .ui.input {
	width: 100%;
}
.ui.label {
	display: inline-block;
	vertical-align: middle;
	margin: -0.25em 0.25em 0em;
	background-color: #E8E8E8;
	border-color: #E8E8E8;
	padding: 0.5em 0.8em;
	color: rgba(0, 0, 0, 0.65);
	/* text-transform: uppercase; */
	font-weight: normal;
	border-radius: 0.325em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: background 0.1s linear;
	transition: background 0.1s linear;
}
.ui.ribbon.label {
	margin-top: 5px;
	margin-bottom: 5px;
}

.ui.ribbon.label {
	position: relative;
	/*left: -2rem;*/
	/*padding-left: 2rem;*/
	border-radius: 4px;
	border-color: rgba(0, 0, 0, 0.15);
	font-size: 1em;
}

.ui.ribbon.label .comment-highlight {
	color: #d32 !important;
}

.block {
	position: relative;
	background: #fff;
	padding: 15px;
	margin-bottom: 20px;
	border-radius: 5px;
	box-shadow: 0 5px 20px #bbb;
	-moz-box-shadow: 0 5px 20px #bbb;
}

.post-near {
	list-style: none;
	font-size: 15px;
	padding: 0;
	color: #999;
}

.post-near li {
	margin: 10px 0;
}

/* 侧边栏友情链接和回复列表中的头像 */
img.avatar {
	background-color: #fff;
	border-radius: 50px;
	box-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	float: left;
	position: relative;
	height: 50px;
	width: 50px;
	margin-top: 10px;
	transition: 500ms;
	-o-transition: 500ms;
	-moz-transition: 500ms;
	-webkit-transition: 500ms;
}

.comment-list .comment-author img.avatar:hover {
	transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}

/* 评论列表样式 */
.comment-list {
	padding-left: 0;
	list-style: none;
}
.comment-list .comment-li {
	border-top: 1px solid rgba(0, 0, 0, 0.13);
	clear: both;
	list-style: outside none none;
	margin: 0;
	overflow: hidden;
	width: 100%;
}

.comment-list .comment-body {
	padding: 10px 0 10px 60px;
}
.comment-list .comment-body cite.fn {
	color: #555555;
	font-style: normal;
}
.comment-list .comment-body a {
	font-style: normal;
}

.comment-list .comment-content p {
	margin: 0.5em 0;
}
.comment-list .comment-footer {
	line-height: 1.5em;
}
.comment-list .comment-footer time {
	color: #999;
	font-size: 12px;
	margin-right: 8px;
}

.comment-parent>.comment-children {
	margin-left: 30px;
	padding-left: 30px;
	/*border-left: 1px dotted rgba(0, 0, 0, 0.35);*/

}



.l-header{background-attachment:fixed;-webkit-background-size:100% 100%;-moz-background-size:100% 100%;-o-background-size:100% 100%;z-index:10;position:relative;zoom:1;}
.hdbg,.hdbg2{position:absolute;bottom:0;left:0;width:100%;height:100%;background:-webkit-linear-gradient(top,#000,rgba(0,0,0,0) 85%);}
.hdbg2{background:#299982;opacity:.8;filter:alpha(opacity=80);}
.m-about{width:350px;margin:0 auto;padding:70px 0 0;text-align:center;position:relative;zoom:1;z-index: 1;}
.playerd{width:180px;height:180px;border-radius:100px;position: relative;}
.rotate{animation:pic 15s linear infinite;-webkit-animation:pic 15s linear infinite;-moz-animation:pic 15s linear infinite;-ms-animation:pic 15s linear infinite;-o-animation:pic 15s linear infinite;}@-webkit-keyframes pic{from{-webkit-transform:rotate(0deg);}to{-webkit-transform:rotate(360deg);}}@-moz-keyframes pic{from{-moz-transform:rotate(0deg);}to{-moz-transform:rotate(360deg);}}@-ms-keyframes pic{from{-ms-transform:rotate(0deg);}to{-ms-transform:rotate(360deg);}}@-o-keyframes pic{from{-o-transform:rotate(0deg);}to{-o-transform:rotate(360deg);}}@keyframes pic{from{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);}to{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg);}}
#pic{position: absolute;width:180px;height:180px;border-radius:50%;}
#pic img{width:180px;height:180px;border-radius:50%;}
#logo{width:180px;height:180px;margin:0 auto 15px;}
#logo img{border-radius:100px;width:180px;height:180px;}


#logo #jp_container{width:0px!important;position: absolute;left: 41.5px;top: 41.5px;padding: 0!important;}
#logo  #jp_container .jp-pause{background: url(../images/logoplayer2.png) no-repeat;margin: 25px;top: 50%;left: 50%;width:45px;height:45px;cursor:pointer;position:absolute;}
#logo  #jp_container .jp-play{background:none;margin: 25px;top: 50%;left: 50%;width:45px;height:45px;cursor:pointer;position:absolute;}
#logo  #jp_container .jp-play:hover{background:url(../images/logoplayer.png) no-repeat;}
.tit{padding:0 0 10px;font-weight:normal;}
.tit a{color:#fff;font-size:45px;letter-spacing:2px;opacity:.8;filter:alpha(opacity=80);font-family:微软雅黑;}
.about{color:#fff;padding:0 0 15px;font-size:14px;opacity:.8;filter:alpha(opacity=80);zoom:1;}
.lrc_content{ width:100%; height:75px;margin:20px auto;overflow:hidden; padding:10px;text-align:center;}
.lrc_hover {color:#EA93A3;font-size:18px;}
.nav{margin-left:0;list-style:none}
.nav > li > a{display:block}
.nav > li > a:hover,.nav > li > a:focus{text-decoration:none;background-color:#eeeeee}
.m-nav{height:52px;background-color:#4a4a4a;position:relative;}
.m-nav:after{clear:both}
.m-nav .nav{position:relative;max-width: 1100px;float: left;display:block;margin: 0 auto;font-size:14px}
.m-nav .nav.pull-right{float:right;margin-right:0}
.m-nav .nav > li{position:relative;float:left;margin-right:1px}
.m-nav .nav li a{padding:15px 20px;color:#eeeeee}
.m-nav .nav .dropdown-toggle .caret{margin-top:8px}
.m-nav .nav li a:focus,.m-nav .nav li a:hover{background-color:#404040;color:#ffffff}
.m-nav .nav .active a,.m-nav .nav .active a:hover,.m-nav .nav .active a:focus{color:#ffffff;background-color:#404040}
.m-nav .nav li.current-menu-item a,.m-nav .nav li.current-menu-parent a,.m-nav .nav li.current_page_item a,.m-nav .nav li.current-post-ancestor a{color:#fff;position:relative;z-index:2}
.m-nav .nav li:hover > ul{display:block}
.m-nav .nav > li > ul{text-align:left;position:absolute;top:52px;left:0;min-width:140px;z-index:10;display:none;}
.m-nav .nav > li > ul > li > ul{text-align:left;position:absolute;top:0;left:100%;min-width:140px;z-index:10;display:none;}
.m-nav .nav > li > ul > li{float:none;margin:0;position:relative}
.m-nav .nav ul a{float:none;display:block;*min-width:100px;padding:5px 20px 4px;color:#eeeeee}
.m-nav .nav ul a:hover,.m-nav .nav li li.current-menu-item a{color:#ffffff}
.m-nav .nav li li a:hover,.m-nav .nav li li.current-menu-item a{background-color:#299982}
.m-nav .nav li:hover a,.m-nav .nav li.current-menu-item a,.m-nav .nav li.current-menu-parent a,.m-nav .nav li.current_page_item a,.m-nav .nav li.current-post-ancestor a{background-color:#404040;}
.m-nav .nav li ul{background-color:#404040;}

.container{max-width:1100px;min-width:320px;margin:10px auto;position:relative;width: auto;}

#content{margin-right: 370px;}
.post-article{background: #fff;margin-bottom: 10px;overflow: hidden;padding: 0 20px 20px;}
.post-article .title{font-weight: bold;}
.post-article .title a{color:#666;text-decoration: none;}
.post-article .title a:hover{color:#16a085;transition: all 0.3s ease 0s;}
.post-article .edit {margin-left: 20px;color:#949494;font-size: 14px;}
.post-article .edit a{color:#949494;}
.post-article .text{font-size:13px;color: #666;padding:10px 40px;word-wrap: break-word;}
.post-article .text .tags-list{ margin-bottom:15px; padding-bottom:15px; width:20%; border-bottom:1px solid #EEE;}
.post-article .text p{line-height:24px;margin-bottom:10px;}
.post-article .text p img,.text img{display:block;max-width:100%;margin: 10px auto;height:auto;}
.post-article .textimg{text-align:center;}
/*.post-article .textimg img{max-width:500px;width:expression(document.body.clientWidth>500?"500px":"auto");}*/
.post-article .text .textfoot{border-bottom:1px solid #dddcdb;padding: 10px 0;}
.post-article .text .textfoot span{color:#999;}
.post-article > .textfoot{border-bottom:1px solid #dddcdb;  padding: 5px 40px 20px;color:#999;}
.post-article .textfoot a{font-size:12px;color:#999;}
.post-article .textfoot-category a{background:#EEE;color:#666;margin:0; border-radius:3px; display:inline-block; padding:0 6px; line-height:20px;}
.post-article .previous-image {float: left;}
.post-article .previous-image a{padding: 5px;background: #299982;border-radius: 3px;color:#fff;}
.post-article .art-img{ margin: -20px 0 0 10px;width:125px; max-height:94px; overflow:hidden;}
.post-time {padding: 0 40px;}
.post-like{position: relative;text-align: center;margin:0 auto;padding:10px;}
.post-like a,.cbl-logo-like a{padding: 5px 10px;background: #299982;border-radius: 2px;color: #ffffff;}
.post .zhuanzai {padding: 10px 40px;}
.post .single-paging{text-align: center;font-size: 12px;overflow: hidden;clear: both;padding: 20px 0;}
.post .single-paging span{display: inline-block;padding: 4px 12px;background-color: #ddd;border: 1px solid #ddd;border-radius: 2px;color: #666;}
.post .single-paging a span{background-color: #fff;color: #666;}
.post .single-paging a:hover span{border-color: #bbb;}

aside{position:relative;}
aside section{display:block;overflow:hidden;}
aside section h2{background:#299982;color:#FFF;padding-left:30px;height:30px;line-height:30px;font-size:14px;}




footer {padding: 20px;margin: 20px 0 0;text-align:center;background-color:#ffffff;clear: both;}
.Copyright{color:#666;}

/* 翻屏 */
#back-to-top{display:none;cursor:pointer;position:fixed;right:10px;bottom:20px;width:48px;height:48px;z-index:999;border-radius:50%;background:rgba(255,255,255,0.6);border: #ccc 1px solid;}
#back-to-top:hover{background:#eee;border: #299982 1px solid;}
#back-to-top #point-up{margin:8px;}
#back-to-top #point-up path{transition:.5s;-o-transition:.5s;-moz-transition:.5s;-webkit-transition:.5s;}
#back-to-top.red:hover #point-up path{fill:#299982;}
.done {cursor: no-drop;}

.m-sidebar {margin-bottom: 20px;}
.m-header{position:relative;left:0;z-index:4;display:none;margin:0;padding:0;width:100%;height:48px;background:#299982;color:#fff;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;transition:all .3s ease;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-touch-callout:none;}
.m-header-button{position:absolute;top:15px;left:15px;width:20px;height:20px;background-image:url(../img/content-header.png);background-size:40px;background-repeat:no-repeat;cursor:pointer;}
.m-header-search{position:absolute;top:17px;right:17px;width:20px;height:20px;background-image:url(../img/content-header.png);background-position:-20px 0;background-size:40px;background-repeat:no-repeat;cursor:pointer;}
.m-header h1{margin:0;text-align:center;font-weight:bold;font-size:14px;font-family:'Open Sans','Helvetica Neue',sans-serif;}
.m-header h1 a{margin:0;padding:12px 25px;height:48px;color:#fff;font-size:14px;line-height:53px;}
.m-nav-all{display:block;margin:0 auto;max-width:1100px;}
.m-logo-url{float:left;display:none;height:52px;}
.m-logo-url img{width:50%;border-radius:100%;}
.m-logo-url h3{margin:10px 0;color:#fff;font-weight:normal;}
#search-form{position:absolute;top:0;z-index:999;overflow:hidden;margin:0;padding:0;width:100%;height:51px;opacity:.5;backface-visibility:hidden;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;}
#search-input-s{padding:0 23px 10px;}
#search-form.active{opacity:1;}
#search-form{-webkit-transition:all .5s;-moz-transition:all .5s;transition:all .5s;}
#search-form{-webkit-transform:translate(0,-53px);-moz-transform:translate(0,-53px);-o-transform:translate(0,-53px);transform:translate(0,-53px);-ms-transform:translate(0,-53px);}
#search-form.active{-webkit-transform:translate(0,-3px);-moz-transform:translate(0,-3px);-o-transform:translate(0,-3px);transform:translate(0,-3px);-ms-transform:translate(0,-3px);}
#search-form{top:-53px;}
#search-form.active{top:0;}
#search-form input[type="text"]{position:absolute;top:0;left:0;z-index:44;margin-right:0;width:100%;height:51px;background:#34393d;color:#fff;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-touch-callout:none;}
#search-form-close{position:absolute;top:0;right:0;z-index:45;width:55px;height:51px;color:#a9a9a9;text-align:center;line-height:58px;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-touch-callout:none;}
#search-form-close.hover{color:#3dabda;}
#search-form input[type="button"]{position:absolute;top:9999px;right:9999px;z-index:-9999;width:0;height:0;text-indent:-9999px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-touch-callout:none;}

@media screen and (max-width:1100px){
	body{background:#fff;overflow-x: hidden;}
	header,aside{display:none;}
	.m-header{display:block;}
	.m-header-open{left:30% !important;}
	.m-logo-url{float:none;display:block;margin:20px auto;text-align:center;height:100%;}
	#m-nav{position:fixed;top:0;left:-30%;display:block;width:30%;height:100%;background:#505050;opacity:0;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;transition:all .3s ease;}
	#m-nav .nav{float:none;margin-left:20px;}
	#m-nav .nav>li{float:none;border-top:#666 1px solid;}
	.m-nav .nav li a{padding:10px;}
	.m-nav .nav > li > ul ,.m-nav .nav > li > ul > li > ul {background:0;position:static;display:block;}
	.m-nav .nav li:hover > ul {background:#404040!important;}
	.m-nav .nav > li > ul a{margin-left:40px;}
	.m-nav-open{left:0 !important;opacity:1 !important;}
	.container{left:0;margin:0;background:#fff;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;transition:all .3s ease;}
	.m-container-open,.m-footer-open{left:30% !important;}
	#content,#pagination{margin:0;}
	#pagination a{margin:auto;width:50%;}
	footer{position:relative;left:0;overflow:hidden;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;transition:all .3s ease;}
}
@media screen and (min-width:750px) and (max-width:1100px){
	.m-header-open,.m-container-open,.m-footer-open{left:30% !important;}
	#m-nav{left:-30%;width:25%;}
	.post-article .text .tags-list{width:25%}
}
@media screen and (max-width:750px){
	.m-header-open,.m-container-open,.m-footer-open{left:50% !important;}
	#m-nav{left:-50%;width:33.33%;}
	.post-article .text .tags-list{width:50%}
	#smilies-box{width: 280px;}
}